<!DOCTYPE html>
<html>
<head>
  <title>Borrar mensaje</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <script>
   swal({
     title: "¡Mensaje Borrado!",
     text: "<%= mensaje %>",
     icon: "success",
     button: "OK",
   }).then(() => {
     window.location.href = "<%= redirectUrl %>"; // Redireccionar al usuario a la página de inicio
   });
  </script>
</body>
</html>
