	<div class="footer-basic">
	    <footer class="text-center">
	       <p class="text-center">para hacienda municipal</p>
	       <ul class="list-inline">
	          <li class="list-inline-item"><a href="#" target="_blank">Ayuda</a></li>
	      	</li>
	        </ul>
	        
	        <p class="copyright">Create by: Pitterson Ortegano © 2023</p>
	    </footer>
	</div>