	<div class="footer-basic">
	    <footer>
	       <p>Sistema Gestor de patentes comerciales para hacienda municipal</p>
	       <ul class="list-inline">
	          <li class="list-inline-item"><a href="#" target="_blank">Ayuda</a></li>
	      	</li>
	        </ul>
	        
	        <p class="copyright">Create by: Joan Cermeño © 2023</p>
	    </footer>
	</div>