<footer class="bg-dark text-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center text-secondary">Acerca del Sistema</h5>
        <p class="text-center text-secondary">Proyecto web comunitario de código abierto de la UNEFA para Hacienda Municipal del municipio Guanarito.</p>
        <p class="text-center"> <a href="https://github.com/TheJoan684/sistema-patentes-comerciales" class="text-info link text-center ">Ayuda</a></p>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2023 Estudiante Pitterson Ortegano</p>
  </div>
</footer>