	<div class="footer-basic bg-light">
	    <footer class="text-center">
	       <p class="text-center">Proyecto comunitario Para hacienda municipal</p>
	        
	        <p class="copyright">Pitterson Ortegano © 2023</p>
	    </footer>
	</div>