<!DOCTYPE html>
<html>
<head>
  <title>Borrar mensaje</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <script>
   swal({
     title:"<%= title %>",
     text: "<%= text %>",
     icon: "<%= icon %>",
     button: "OK",
   }).then(() => {
     window.location.href = "<%= redirectUrl %>"; // Redireccionar al usuario a la página de inicio
   });
  </script>
</body>
</html>
