<form class="bg-light my-5 p-5 rounded" method="post" action="/nuevaHistoria" enctype="multipart/form-data">
	 	<h2 class="h2 "> Crear una nueva noticia</h2>
	      <div class="mb-3">
	        <label for="postTitle" class="form-label">Título del Post:</label>
	        <input required="true"  name="titulo" type="text" class="form-control" id="postTitle" placeholder="Ingrese el título del post">
	      </div>

	      <div class="mb-3">
	        <label for="postDescription" class="form-label">Descripción:</label>
	        <textarea required="true" name="des" class="form-control" id="postDescription" rows="4" placeholder="Ingrese la descripción del post"></textarea>
	      </div>

	      <div class="mb-3">
	             <label for="storyImages" class="form-label">Imágenes:</label>
	             <input required="true" name="imagen" type="file" class="form-control" id="storyImages"accept="image/*">
	             <small class="form-text text-muted">Puede seleccionar múltiples imágenes.</small>
	           </div>

	      <button type="submit" class="btn btn-primary">Crear Historia</button>
</form>