html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
/*IMAGENES*/
#img_portada_main{
  background-image: url('img/logo.jpg');
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2rem;
}
#img_portada_main > p {
  width: 50%;

}

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
  }

   .card-img-top {
    height: 200px; /* Altura fija */
    /* Ajuste de imagen */
  }

    img {
    width: 100%;
    height: auto;
  }

