html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

p{
  line-height: 2;
}
.content-wrapper {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
/*IMAGENES*/
#img_portada_main{
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 60vh;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
}
#img_portada_main > p {
  width: 50%;

}
.degradado{

  background: linear-gradient(124deg, #0009, transparent);
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
  }

   .card-img-top {
    height: 200px; /* Altura fija */
    /* Ajuste de imagen */
  }

    img {
    width: 100%;
    height: auto;
  }

