.img_about{
    background-image: url(img/team_work.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.logo{
    background-image: url(img/logo.jpg);
     width: 70vh;
    height: 50vh;
}
.p_about{

}
.container-flex{
	display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  flex-wrap: wrap;
}

.img_container {
  
}

.plaza-img{
  position: relative;
    background-image: url(img/plaza-guanarito.jpg);
    background-position: bottom;
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.degradado2{
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items:center;
  justify-content: center;
  transition-delay: ease;
  transition-duration: .5s;
  transition-property: background;
  cursor: pointer;
}
.degradado2:hover{
  background: #000a
  
}


.opening-hours {
  text-align: center;
  margin: 20px;
}

.opening-hours h2 {
  font-size: 24px;
}

.opening-hours-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.opening-hours-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.opening-hours-list .day {
  font-weight: bold;
}
