<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error</title>
</head>
<body>
	<h2><%= mensaje %></h2>
<script type="text/javascript">
	alert("Error! ALGO PASO");
</script>
</body>
</html>