<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<title>Error</title>
</head>
<body>
	<%- include('header.ejs'); %>

	<div class="container mt-5">
		<div class="alert alert-danger" role="alert">
		 <%= mensaje %> <a href="/login" class="alert-link">Volver al inicio</a>.
		</div>
	</div>


<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	   // Obtener la cadena de consulta de la URL
	   const queryString = window.location.search;
	   // Crear una instancia de URLSearchParams para analizar la cadena de consulta
	   const urlParams = new URLSearchParams(queryString);

	   // Obtener el valor de un parámetro específico por su nombre
	   const mensaje = urlParams.get('mensaje');
	   const error = urlParams.get('error');
	   if(!error && mensaje != undefined){
	   	Swal.fire({
	   	  title: 'ME!',
	   	  text: 'Mensajes Enviado Correctamente! :) Nos pondremos en contacto contigo lo mas pronto posible',
	   	  icon: 'success',
	   	  confirmButtonText: 'OK!'
	   	});
	   }else{
	   	Swal.fire({
	   	  title: 'Algo malo paso!',
	   	  text:mensaje ,
	   	  icon: 'error',
	   	  confirmButtonText: 'ok :('
	   	});
	   }

	});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>