	<div class="footer-basic">
	    <footer>
	       <p class="text-center">Proyecto web comunitario de código abierto de la UNEFA para Hacienda Municipal del municipio Guanarito.</p>

	       <ul class="list-inline">
	            <li class="list-inline-item"><a href="https://github.com/TheJoan684/sistema-patentes-comerciales" target="_blank">Ver Código fuente del sitio</a></li>
	            <li class="list-inline-item"><a href="nosotros" target="_blank">Nosotros</a></li>
	            <li class="list-inline-item"><a href="#" target="_blank">Contactar con nosotros</a></li>
	      	</li>
	        </ul>
	        <ul class="list-inline">
	        	<h5 class="h5">Horarios de atención al publico</h5>
	        	<p>DE xxx Hasta xxxx</p>

	        </ul>
	        
	        <p class="copyright">Estudiante Pitterson Ortegano © 2023</p>
	    </footer>
	</div>