	<div class="footer-basic">
	    <footer>
	       <p>Proyecto comunitario para hacienda municipal</p>

	       <ul class="list-inline">
	            <li class="list-inline-item"><a href="https://github.com/TheJoan684/API_pais_estado_ciudad" target="_blank">Repo Home</a></li>
	            <li class="list-inline-item"><a href="doc" target="_blank">Document</a></li>
	            <li class="list-inline-item"><a href="" target="_blank">About me</a></li>
	      	</li>
	        </ul>
	        
	        <p class="copyright">Joan Cermeño © 2023</p>
	    </footer>
	w</div>