	<div class="footer-basic">
	    <footer>
	       <p>Proyecto web comunitario de código abierto de la UNEFA para Hacienda Municipal del municipio Guanarito.</p>

	       <ul class="list-inline">
	            <li class="list-inline-item"><a href="https://github.com/TheJoan684/sistema-patentes-comerciales" target="_blank">Ver Código fuente del sitio</a></li>
	            <li class="list-inline-item"><a href="nosotros" target="_blank">Nosotros</a></li>
	            <li class="list-inline-item"><a href="#" target="_blank">Contactar con nosotros</a></li>
	      	</li>
	        </ul>
	        
	        <p class="copyright">Estudiante Pitterson Ortegano © 2023</p>
	    </footer>
	</div>