<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- My custom css -->
	<link rel="stylesheet" type="text/css" href="info.css">
	<link rel="stylesheet" type="text/css" href="footer.css">
	<link rel="stylesheet" type="text/css" href="all-btn.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="nosotros.css">
	<!-- END My custom css -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>Sistema De patentes </title>
</head>
<body>
	<div class="content-wrapper">
    <!-- Tu contenido aquí -->
    <%- include('../views/header.ejs'); %>
	<div id="img_portada_main">
		<div class="degradado">
			<h1 class="mx-2 text-white">!Solicita tu patente comercial hoy!</h1>
			<p class="text-center text-white">En Hacienda municipal estamos comprometido con el buer servicio al contribuyente, te daremos las pautas para solicitar la pantente comercial y estar informado sobre cualquier noticia en materia de impuesto se refiere</p>
			<a href="#Solicitar_patente" class=" mx-5 text-white" id="btn-discover" >¿Como sacar mi patente?
			
			</a>
		</div>
		
	</div>
	<section class="container mt-5">
		<div class="alert alert-secondary shadow" role="alert">
		  <h4 class="alert-heading">Bienvenido a hacienda municipal del municipio Guanarito </h4>
		  <p> En esta plataforma, podrás acceder de manera fácil y rápida a todos los servicios relacionados con la obtención de patentes comerciales en nuestra localidad</p>
		  <hr>
		  <p class="mb-0">Nuestro objetivo es brindarte una herramienta práctica y eficiente que simplifique el proceso de solicitud de patentes comerciales, permitiéndote llevar a cabo tus trámites de manera ágil y segura.</p>
		</div>
		 <div class="accordion shadow" id="listaDesplegable">
		   <div class="accordion-item">
		     <h2 class="accordion-header" id="heading1">
		       <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
		        A través de este sitio web, podrás encontrar información detallada sobre los requisitos, procedimientos y documentos necesarios para obtener una patente comercial en el municipio Guanarito.
		       </button>
		     </h2>

		     <div id="collapse1" class=" shadow accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#listaDesplegable">
		       <div class="accordion-body">
		         <ul class="list-group">
		           <li class="list-group-item">
		           	 <div class=" mt-5 alert alert-secondary" role="alert">
		     			contarás con acceso a formularios digitales que te guiarán paso a paso en el proceso de solicitud. Sabemos lo importante que es el desarrollo de actividades comerciales en nuestra comunidad, por eso nos comprometemos a brindarte un servicio de calidad, facilitando la obtención de las patentes necesarias para llevar a cabo tus proyectos y emprendimientos. 
		           	</div></li>
		           <li class="list-group-item">
		                      	<div class="alert alert-secondary" role="alert">	
		           	         Te invitamos a explorar nuestro sitio web y aprovechar todas las herramientas y recursos que hemos preparado para ti. Si tienes alguna pregunta o necesitas asistencia, nuestro equipo estará encantado de ayudarte a través de los canales de contacto proporcionados. 
		                      	</div></li>
		           <li class="list-group-item">
		           	<div class="alert alert-secondary" role="alert">	
			         En el departamento de hacienda municipal del municipio Guanarito, estamos comprometidos con el impulso del comercio local y la promoción de la actividad económica. ¡Estamos aquí para facilitar tus trámites y apoyar el crecimiento de tu negocio!
		           	</div></li>
		   
		         </ul>
		       </div>
		     </div>
		   </div>
		 </div>


		
	</section>

	<section id="Solicitar_patente" class=" shadow container my-5 solicitar_patente py-5 bg-light rounded">
		<h2 class="text-center">¿Como puedo solicitar mi patente?</h2>
		<h3 class="text-center">Pasos a seguir</h3>
			<div class="card-grid mb-5">
			  <div class="card">
			    <!-- Contenido de la tarjeta 1 -->
			    <img src="img/papeles.jpg" class="card-img-top">
			    <div class="card-body">
			    	<h5 class="card-title mb-2 text-uppercase text-center h1">Paso 1</h5>
			    	<h6 class="h4 text-center">Consignar Documentación</h6>
			    	<p class="card-text text-justify text-secondary">Se necesita consignar ciertos documentos antes de poder crear la solicitud formal de su patente comercial. Haga click en el botón de descargar lista de documentos requeridos para ver los documentos a consignar</p>
			    	<a href="#" class="btn btn-primary">Descargar lista <i class="bi bi-file-earmark-pdf"></i></a>
			    </div>
			  </div>
			  <div class="card">
			    <!-- Contenido de la tarjeta 2 -->
			    <img src="img/papeles2.jpg" class="card-img-top" alt="...">
			    <div class="card-body">
			    	<h5 class="card-title mb-2 text-uppercase text-center h1">Paso 2</h5>
			    	<h6 class="h4 text-center">Entregar documentación</h6>
			    	<p class="card-text text-justify text-secondary">Dirigirse hacia hacienda municipal para solicitud formal de la patente comercial, recuerda consultar los horarios de atención al publico</p>
			    	<a href="#horarios" class="btn btn-primary">Ver horarios de atención <i class="bi bi-clock"></i></a>
			    </div>
			  </div>
			  <div class="card">
			    <!-- Contenido de la tarjeta 3 -->
			    <img src="img/reloj.jpg" class="card-img-top" alt="...">
			    <div class="card-body">
			    	<h5 class="card-title mb-2 text-uppercase text-center h1">Paso 3</h5>
			    	<h6 class="h4 text-center">Esperar confirmación</h6>
			    	<p class="card-text text-justify text-secondary">Solo resta a esperar, puedes ponerte en contacto con el departamento de hacienda municipal para conocer el estado de la solicitud</p>
			    	<button id="btn_consultar_estado" class="btn btn-primary">Ver estado de mi solicitud</button>
			    </div>
			  </div>
			</div>
	</section>
    </div>
    <!-- Session de sobre nosotros -->
     <%- include('../views/nosotros.ejs'); %>
    <!-- Session de Contacto -->
    <%- include('../views/contact.ejs'); %>

    <footer>
       	<%- include('../views/footer.ejs'); %>
   	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   	<script type="text/javascript" src="scripts/btn_modal_event.js"></script>
</body>
</html>
