<div id="nosotros" class="container about-section my-5 py-5 rounded bg-light">
      <h2  class="text-center mb-5">Nosotros</h2>
       <div class="container-flex">
        <div class="img_container">
          <div class="img_about"></div>
        </div>
         <p class="p_about">Somos El Departamento de Hacienda Municipal del municipio Guanarito, ubicado en el
         estado Portuguesa de Venezuela, es una entidad encargada de la administración y
         gestión de los recursos económicos y financieros del municipio. Su objetivo principal es
         asegurar el correcto manejo de los ingresos y egresos municipales, así como garantizar
         la transparencia y eficiencia en el uso de los recursos públicos.
         Las funciones y responsabilidades del Departamento de Hacienda Municipal pueden
         variar según la legislación y normativas locales.</p>

       </div>


       <h2 class="my-5 text-center">Reseña historica</h2>
          <div class="plaza-img"></div>        
        <div class="logo"></div>
          

        <p class="mt-5">
        Nuestra señora de la Paz de Guanarito, se fundó el 24 de enero de 1768, por Fray Andrés
        de Grazalema, con indios de la tribu Achaguas. El municipio Guanarito es uno de los 14
        municipios que forman parte del Estado Portuguesa, Venezuela. Está conformado por
        las parroquias Guanarito, Trinidad de la Capilla y la Divina Pastora. La agricultura es la
        principal actividad económica del municipio. Guanarito cuna de la Declaración de
        Independencia.
        </p>


           <h3 class="my-5 text-center">Misión</h3>
           <p>La Alcaldía del Municipio de Guanarito tiene como misión ser un gobierno con una
        gestión pública municipal ágil, honesta; convirtiendo a Guanarito en un lugar de
        oportunidades, limpio, seguro y socialmente incluyente, con un manejo sostenible de sus
        recursos naturales y con bajos niveles de vulnerabilidad.</p>
           
           <h3 class="my-5 text-center">Visión</h3>
           <p>La Alcaldía Bolivariana del Municipio Guanarito tiene como visión lograr que Guanarito
        sea un municipio líder, moderno y seguro, con una ciudad en desarrollo constante,
        logrando una mejor calidad de vida para los Guanariteños.</p>
        <h3 class="mt-5 text-center">Valores</h3>
        <p class="text-center">Los valores que nos identifican como institución son</p>
           <ul class="list-group mb-5 ">
             <li class="list-group-item list-group-item-success">
                Lealtad constitucional   
             </li>
             <li class="list-group-item list-group-item-success">
          Honradez o integridad
               
             </li>
             <li class="list-group-item list-group-item-success">
        Conducta y disciplina

             </li>
             <li class="list-group-item list-group-item-success">
        Responsabilidad
               
             </li>
             <li class="list-group-item list-group-item-success">
        Probidad
               
             </li>
             <li class="list-group-item list-group-item-success">
        Transparencia
               
             </li>
           </ul>
         </div>

       </div>
